{# empty Twig template #}

{% extends 'Default/index.html.twig' %}

{% block body %}
    <div class="section background-opacity page-title set-height-top">
        <div class="container">
            <div class="page-title-wrapper"><!--.page-title-content--><h2 class="captions">profile</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="#">profile</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="section nav-subscribe">
        <div class="container">
            <div class="nav-subscribe-wrapper">
                <div class="nav-subscribe-left"><p class="subscribe-text">Subscribe <b class="focus">Edugate</b> to learn new creative skill</p></div>
                <div class="nav-subscribe-right">
                    <button class="btn btn-green btn-bold"><span>SUBSCRIBE NOW</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-padding profile-teacher">
        <div class="container">
            <div class="profile-teacher-wrapper">
                <div class="teacher-info">
                    <div class="staff-item2 customize">
                        <div class="staff-item-wrapper">
                            <div class="staff-info">
                                <a href="#" class="staff-avatar">
                                    <img src="{{ instructor.avatar }}" alt="" class="img-responsive"/>
                                </a>
                                <a href="#" class="staff-name">{{ instructor.fullname }}</a>
                            </div>
                        </div>
                        <div class="staff-socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                    </div>
                    <div class="teacher-des">
                        <div class="title">{{instructor.fullname}}</div>
                        <div class="subtitle"></div>
                        <div class="content"><p class="content-detail"> {{instructor.activity}}  | {{ instructor.specialty }}</p>

                            <p class="content-detail"> {{instructor.description}}  </p>
                            <ul class="detail-list">
                                <li> {{instructor.biography }} </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section teacher-skill">
        <div class="container teacher-skill-content">
            <div class="teacher-skill-wrapper">
                <div class="title">{{ instructor.fullname }}'s key skills</div>
                <div class="row skill-content">
                    <div class="col-md-6 skill-level">
                        <div class="skill-name">online marketing</div>
                        <div class="progress">
                            <div role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" class="progress-bar skill-1" ></div>
                        </div>
                    </div>
                    <div class="col-md-6 skill-level">
                        <div class="skill-name">online marketing</div>
                        <div class="progress">
                            <div role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" class="progress-bar skill-2"></div>
                        </div>
                    </div>
                    <div class="col-md-6 skill-level">
                        <div class="skill-name">branding</div>
                        <div class="progress">
                            <div role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar skill-3"></div>
                        </div>
                    </div>
                    <div class="col-md-6 skill-level">
                        <div class="skill-name">branding</div>
                        <div class="progress">
                            <div role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" class="progress-bar skill-4"></div>
                        </div>
                    </div>
                    <div class="col-md-6 skill-level">
                        <div class="skill-name">creativity</div>
                        <div class="progress">
                            <div role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar skill-5"></div>
                        </div>
                    </div>
                    <div class="col-md-6 skill-level">
                        <div class="skill-name">creativity</div>
                        <div class="progress">
                            <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar skill-6"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section teacher-course section-padding">
        <div class="container teacher-course-wrapper">
            <div class="underline">Courses</div>
            <div class="course-table">
                <div class="outer-container">
                    <div class="inner-container">
                        <div class="table-header">
                            <table class="edu-table-responsive">
                                <thead>
                                    <tr class="heading-table">
                                        <th class="col-1">id</th>
                                        <th class="col-1">course name</th>
                                        <th class="col-1">Duration</th>
                                        <th class="col-1">Available</th>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-body">
                            <table class="edu-table-responsive table-hover">
                                <tbody>
                                    {% for key,value in courses %}
                                        <tr class="table-row" onclick="document.location = '{{ path('course_instructor_details',{'id': value.getId() }) }}'; ">
                                            <td class="col-1"><img src="{{value.icon.getPath()}}" alt="id" style="width: 50px; border-radius: 50%;"/> </td>
                                            <td class="col-1"><a href="{{ path('course_instructor_details',{'id': value.getId() }) }}" >{{ value.getTitle() }}</a></td>
                                            <td class="col-1"><span>{{value.getDuration()|date('d-M-y')}}</span></td>
                                            <td class="col-1"><span>
                                                    {% if value.getAvailable()%} 
                                                        <img src="{{ asset('bundles/mooc/images/available.png')}}" width='40'/>
                                                    {%else %}
                                                        <img src="{{ asset('bundles/mooc/images/waiting.png')}}" width='40'/>
                                                    {% endif %}
                                                </span></td>

                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}