{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Media creation</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form.name, {'type' : 'hidden'}) }}
    {{ form_widget(form.file ) }}
    {{ form_row(form.submit, {'label' : 'Ajouter'}) }}
    {{ form_end(form) }}
    <ul class="record_actions">
        <li>
            <a href="{{ path('media') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
