{% extends '::base.html.twig' %}

{% block body %}
    <h1>Upload File</h1>

    <form action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" value="Upload Document" />
    </form>
{% endblock %}

