<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Title page{% endblock %}</title>
        {% block stylesheets %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- LIBRARY FONT-->
            <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900,300">
            <link type="text/css" rel="stylesheet" href="{{asset('bundles/mooc/font/font-icon/font-awesome-4.4.0/css/font-awesome.css')}}">
            <link type="text/css" rel="stylesheet" href="{{asset('bundles/mooc/font/font-icon/font-svg/css/Glyphter.css')}}">
            <!-- LIBRARY CSS-->


            <link type="text/css" rel="stylesheet" href="{{asset('bundles/mooc/libs/animate/animate.css')}}">
            <link type="text/css" rel="stylesheet" href="{{asset('bundles/mooc/libs/bootstrap-3.3.5/css/bootstrap.css')}}">
            <link type="text/css" rel="stylesheet" href="{{asset('bundles/mooc/libs/owl-carousel-2.0/assets/owl.carousel.css')}}">
            <link type="text/css" rel="stylesheet" href="{{asset('bundles/mooc/libs/selectbox/css/jquery.selectbox.css')}}">
            <link type="text/css" rel="stylesheet" href="{{asset('bundles/mooc/libs/fancybox/css/jquery.fancybox.css')}}">
            <link type="text/css" rel="stylesheet" href="{{asset('bundles/mooc/libs/fancybox/css/jquery.fancybox-buttons.css')}}">
            <link type="text/css" rel="stylesheet" href="{{asset('bundles/mooc/libs/media-element/build/mediaelementplayer.min.css')}}">
            <!-- STYLE CSS    -->
            <link type="text/css" rel="stylesheet" href="{{asset('bundles/mooc/css/color-8.css')}}" id="color-skins">
            <!--link(type="text/css", rel='stylesheet', href='#', id="color-skins")-->


        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}

            <!-- HEADER-->
            <header>
                <div class="header-topbar">
                    <div class="container">
                        <div class="topbar-left pull-left">
                            <div class="email"><a href="#"><i class="topbar-icon fa fa-envelope-o"></i><span>hello.shinway@gmail.com</span></a></div>
                            <div class="hotline"><a href="#"><i class="topbar-icon fa fa-phone"></i><span>+84 909 015 345</span></a></div>
                        </div>
                        <div class="topbar-right pull-right">
                            <div class="socials">
                                <a href="www.facebook.com" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="www.google.com" class="google"><i class="fa fa-google-plus"></i></a>
                                <a href="www.twitter.com" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                                <a href="#" class="blog"><i class="fa fa-rss"></i></a>
                                <a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a>
                            </div>
                            <div class="group-sign-in">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    Welcome, {{ app.user.firstname }} <img src="{{app.user.avatar}}" alt="{{app.user.avatar}}" width="70" height="70" style="border-radius: 50%"  />
                                    <a class="btn btn-login btn-green" href="{{ path('fos_user_security_logout') }}">Logout</a>
                                {% else %}   
                                    <a href="{{ path ('fos_user_security_login')}}" class="login">login</a>
                                    <a href="{{ path ('fos_user_registration_register')}}" class="register">register</a>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-main homepage-01">
                    <div class="container">
                        <div class="header-main-wrapper">
                            <div class="navbar-heade">
                                <div class="logo pull-left"><a href="#" class="header-logo"><img src="{{asset('bundles/mooc/images/logo-color-8.png')}}" alt=""/></a></div>
                                <button type="button" data-toggle="collapse" data-target=".navigation" class="navbar-toggle edugate-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                            </div>
                            <nav class="navigation collapse navbar-collapse pull-right">
                                <ul class="nav-links nav navbar-nav">
                                    <li class="active"><a href="{{ path('mooc_homepage') }}" class="main-menu">Home<span class="fa"></span></a>

                                    </li>
                                    <li class=" "><a href="{{ path('how_it_works') }}" class="main-menu">How it works ?<span class="fa "></span></a>

                                    </li>
                                    <li class=""><a href="{{path('all_courses_show')}}" class="main-menu">Courses<span class="fa"></span></a>

                                    </li>

                                    <li class=""><a href="javascript:void(0)" class="main-menu">About US<span class="fa"></span></a>

                                    </li>

                                    <li><a href="contact.html" class="main-menu">Contact</a></li>
                                    <li class="button-search"><p class="main-menu"><i class="fa fa-search"></i></p></li>
                                    <div class="nav-search hide">
                                        <form><input type="text" placeholder="Search" class="searchbox"/>
                                            <button type="submit" class="searchbutton fa fa-search"></button>
                                        </form>
                                    </div>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>


        {% endblock %}

        <div id="wrapper-content"><!-- PAGE WRAPPER-->
            <div id="page-wrapper"><!-- MAIN CONTENT-->
                <div class="main-content"><!-- CONTENT-->
                    <div class="content">

                        {% block body %}
                            app.base.html.twig Home
                        {% endblock %}


                    </div>
                </div>
            </div>
        </div>
        {% block footer %}
            <!-- FOOTER-->
            <footer>

                <div class="footer-main">
                    <div class="container">
                        <div class="footer-main-wrapper">
                            <div class="row">
                                <div class="col-2">
                                    <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                        <div class="edugate-widget widget">
                                            <div class="title-widget">EDUGATE</div>
                                            <div class="content-widget"><p>Edugate is a great start for an education personnel or organization to start the online business with 1 Click.</p>

                                                <div class="info-list">
                                                    <ul class="list-unstyled">
                                                        <li><i class="fa fa-envelope-o"></i><a href="#">hello@edugate.com</a></li>
                                                        <li><i class="fa fa-phone"></i><a href="#">P: 3333 222 1111</a></li>
                                                        <li><i class="fa fa-map-marker"></i><a href="#"><p>99 Barnard St - Suite 111</p>

                                                                <p>United States - GA 22222</p></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                        <div class="useful-link-widget widget">
                                            <div class="title-widget">USEFUL LINKS</div>
                                            <div class="content-widget">
                                                <div class="useful-link-list">
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                                            <ul class="list-unstyled">
                                                                <li><i class="fa fa-angle-right"></i><a href="#">Teachers</a></li>
                                                                <li><i class="fa fa-angle-right"></i><a href="#">Courses</a></li>
                                                                <li><i class="fa fa-angle-right"></i><a href="#">Support</a></li>
                                                                <li><i class="fa fa-angle-right"></i><a href="#">Why Edugate</a></li>
                                                                <li><i class="fa fa-angle-right"></i><a href="#">Social Media</a></li>
                                                                <li><i class="fa fa-angle-right"></i><a href="#">Site Map</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                                            <ul class="list-unstyled">
                                                                <li><i class="fa fa-angle-right"></i><a href="#">Company</a></li>
                                                                <li><i class="fa fa-angle-right"></i><a href="#">Latest Courses</a></li>
                                                                <li><i class="fa fa-angle-right"></i><a href="#">Partners</a></li>
                                                                <li><i class="fa fa-angle-right"></i><a href="#">Blog Post</a></li>
                                                                <li><i class="fa fa-angle-right"></i><a href="#">Help Topic</a></li>
                                                                <li><i class="fa fa-angle-right"></i><a href="#">Policies</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>/images/gallery/gallery-01.jpg
                                <div class="col-2">
                                    <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                        <div class="gallery-widget widget">
                                            <div class="title-widget">GALLERY</div>
                                            <div class="content-widget">
                                                <div class="gallery-list"><a href="#" class="thumb"><img src="{{asset('bundles/mooc/images/gallery/gallery-01.jpg')}}" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="{{asset('bundles/mooc/images/gallery/gallery-02.jpg')}}" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="{{asset('bundles/mooc/images/gallery/gallery-03.jpg')}}" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="{{asset('bundles/mooc/images/gallery/gallery-04.jpg')}}" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="{{asset('bundles/mooc/images/gallery/gallery-05.jpg')}}" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="{{asset('bundles/mooc/images/gallery/gallery-06.jpg')}}" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="{{asset('bundles/mooc/images/gallery/gallery-07.jpg')}}" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="{{asset('bundles/mooc/images/gallery/gallery-08.jpg')}}"
                                                                                                                                                                                                        alt="" class="img-responsive"/></a></div>
                                                <div class="clearfix"></div>
                                                <a href="#" class="view-more">View more&nbsp;<i class="fa fa-angle-double-right mls"></i></a></div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                        <div class="mailing-widget widget">
                                            <div class="title-widget">MAILING</div>
                                            <div class="content-wiget"><p>Sign up for our mailing list to get latest updates and offers.</p>


                                                <form method="post" action="{{path('ajouter_mailinglist') }} ">
                                                    <input type="text" placeholder="Email address" name="email" id="email"/> </br>

                                                    <input type="submit" value="Ajouter" />
                                                </form>




                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hyperlink">
                            <div class="pull-left hyper-left">
                                <ul class="list-inline">
                                    <li><a href="index.html">HOME</a></li>
                                    <li><a href="courses.html">COURSES</a></li>
                                    <li><a href="about-us.html">ABOUT</a></li>
                                    <li><a href="categories.html">PAGES</a></li>
                                    <li><a href="news.html">NEWS</a></li>
                                    <li><a href="contact.html">CONTACT</a></li>
                                </ul>
                            </div>
                            <div class="pull-right hyper-right">@ SWLABS</div>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock footer %}
        <!-- LOADING-->
        <div class="body-2 loading">
            <div class="dots-loader"></div>
        </div>

        {% block javascripts %}

            <script src="{{ asset('bundles/mooc/libs/jquery/jquery-2.1.4.min.js') }}"></script>
            <script src="{{ asset('bundles/mooc/libs/js-cookie/js.cookie.js') }}"></script>
            <script src="{{asset('bundles/mooc/libs/bootstrap-3.3.5/js/bootstrap.min.js')}}"></script>
            <script src="{{asset('bundles/mooc/libs/smooth-scroll/jquery-smoothscroll.js')}}"></script>
            <script src="{{asset('bundles/mooc/libs/owl-carousel-2.0/owl.carousel.min.js')}}"></script>
            <script src="{{asset('bundles/mooc/libs/appear/jquery.appear.js')}}"></script>
            <script src="{{asset('bundles/mooc/libs/count-to/jquery.countTo.js')}}"></script>
            <script src="{{asset('bundles/mooc/libs/wow-js/wow.min.js')}}"></script>
            <script src="{{asset('bundles/mooc/libs/selectbox/js/jquery.selectbox-0.2.min.js')}}"></script>
            <script src="{{asset('bundles/mooc/libs/fancybox/js/jquery.fancybox.js')}}"></script>
            <script src="{{asset('bundles/mooc/libs/fancybox/js/jquery.fancybox-buttons.js')}}"></script>
            <!-- MAIN JS-->
            <script src="{{asset('bundles/mooc/js/main.js')}}"></script>
            <!-- LOADING SCRIPTS FOR PAGE-->
            <script src="{{asset('bundles/mooc/libs/isotope/isotope.pkgd.min.js')}}"></script>
            <script src="{{asset('bundles/mooc/libs/isotope/fit-columns.js')}}"></script>
            <script src="{{asset('bundles/mooc/js/pages/homepage.js')}}"></script>
            <script src="{{asset('bundles/mooc/js/pages/profile-teacher.js')}}"></script>
            <script src="{{asset('bundles/mooc/js/pages/courses.js')}}"></script>
        {% endblock %}
    </body>
</html>