{# empty Twig template #}
{% block bestStaff %}
    <div class="section section-padding background-opacity best-staff">
        <div class="container">
            <div class="group-title-index"><h4 class="top-title">touch them if you want</h4>

                <h2 class="center-title">learn from the best</h2>

                <div class="bottom-title"><i class="bottom-icon icon-icon-05"></i></div>
            </div>
            <div class="best-staff-wrapper">
                <div class="best-staff-content">

                    {% for  i ,staff in bestStaffList %}
                    <div class="staff-item">
                        <div class="staff-item-wrapper">
                            <div class="staff-info"><a href="#" class="staff-avatar"><img src="{{staff.avatar }}" alt="" class="img-responsive"/></a><a href="#" class="staff-name">{{ staff.lastname }}</a>

                                <div class="staff-job">{{staff.specialty }}</div>
                                <div class="staff-desctiption">{{staff.description }}</div>
                            </div>
                        </div>
                        <div class="staff-socials"><a href="https://www.facebook.com/{{staff.facebookUid}}" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                    </div>

                    {% endfor %}



                    </div>
                </div>
            </div>
            <div class="group-btn-slider">
                <div class="btn-prev"><i class="fa fa-angle-left"></i></div>
                <div class="btn-next"><i class="fa fa-angle-right"></i></div>
            </div>
        </div>
        {% endblock %}