{# empty Twig template #}
{% block choosecourses %}
    <div class="section section-padding choose-course">
        <div class="container">
            <div class="group-title-index"><h4 class="top-title">CHOOSE YOUR COURSE</h4>

                <h2 class="center-title">GET THE WORLD CLASS & VERIFIED COURSE</h2>

                <div class="bottom-title"><i class="bottom-icon icon-a-1-01-01"></i></div>
            </div>
            <div class="choose-course-wrapper row">
                <div class="col-md-4 col-xs-6">
                    <div class="item-course item-1">
                        <div class="icon-circle">
                            <div class="icon-background"><i class="icons-img icon-globe"></i></div>
                            <div class="info">
                                <div class="info-back"><a href="courses.html">You already learned one, remember?</a></div>
                            </div>
                        </div>
                        <div class="name-course"><a href="courses.html">Language</a><i class="fa fa-long-arrow-right"></i></div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="item-course item-2">
                        <div class="icon-circle">
                            <div class="icon-background"><i class="icons-img fa fa-database"></i></div>
                            <div class="info">
                                <div class="info-back"><a href="courses.html">You already learned one, remember?</a></div>
                            </div>
                        </div>
                        <div class="name-course"><a href="courses.html">Software</a><i class="fa fa-long-arrow-right"></i></div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="item-course item-3">
                        <div class="icon-circle">
                            <div class="icon-background"><i class="icons-img icon-computer_network"></i></div>
                            <div class="info">
                                <div class="info-back"><a href="courses.html">You already learned one, remember?</a></div>
                            </div>
                        </div>
                        <div class="name-course"><a href="courses.html">Social Media</a><i class="fa fa-long-arrow-right"></i></div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="item-course item-4">
                        <div class="icon-circle">
                            <div class="icon-background"><i class="icons-img icon-photocamera_1"></i></div>
                            <div class="info">
                                <div class="info-back"><a href="courses.html">You already learned one, remember?</a></div>
                            </div>
                        </div>
                        <div class="name-course"><a href="courses.html">Photography</a><i class="fa fa-long-arrow-right"></i></div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="item-course item-5">
                        <div class="icon-circle">
                            <div class="icon-background"><i class="icons-img icon-credit_card"></i></div>
                            <div class="info">
                                <div class="info-back"><a href="courses.html">You already learned one, remember?</a></div>
                            </div>
                        </div>
                        <div class="name-course"><a href="courses.html">Business</a><i class="fa fa-long-arrow-right"></i></div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="item-course item-6">
                        <div class="icon-circle">
                            <div class="icon-background"><i class="icons-img icon-chat_bubbles"></i></div>
                            <div class="info">
                                <div class="info-back"><a href="courses.html">You already learned one, remember?</a></div>
                            </div>
                        </div>
                        <div class="name-course"><a href="courses.html">Communication</a><i class="fa fa-long-arrow-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}