{% extends '::base.html.twig' %}

{% block body %}
    <div class="section background-opacity page-title set-height-top">
        <div class="container">
            <div class="page-title-wrapper"><!--.page-title-content--><h2 class="captions"> How it works ?</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="#">How It Works</a></li>
                </ol>
            </div>
        </div>
    </div>

    <div class="section nav-subscribe">
        <div class="container">
            <div class="nav-subscribe-wrapper">
                <div class="nav-subscribe-left"><p class="subscribe-text">Subscribe <b class="focus">Edugate</b> to learn new creative skill</p></div>
                <div class="nav-subscribe-right">
                    <button class="btn btn-green btn-bold"><span>SUBSCRIBE NOW</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="section intro-edu">
        <div class="container">
            <div class="intro-edu-wrapper">
                <div class="row">
                    <div class="col-md-5"><img src="{{asset('bundles/mooc/images/girl-1.png')}}" alt="" class="intro-image fadeInLeft animated wow"/></div>
                    <div class="col-md-7">
                        <div class="intro-title">WHAT IS <b>EDUGATE</b> ?</div>
                        <div class="intro-content"><p>Aliquam pulvinar pellentesque purus, nec condimentum nibh. Aenean dapibus iaculis odio id vestibulum. Nam at justo ante. Aenean hendrerit gravida ligula, id lacinia sapien tristique eget. In elit ipsum, vestibulum eu pulvinar sed.</p>

                            <p>Maecenas eros mi, lacinia eu ultricies vel, elementum et justo. Ut at tortor a odio vestibulum suscipit non sit amet dolor. Morbi molestie magna nec metus facilisis, at iaculis mi adipiscing. Praesent ac diam velit. Curabitur lacinia tristique velit ut laoreet. Nam pretium id risus vitae fermentum. Aenean eu euismod justo. Aliquam sodales tortor elit, non luctus felis tristique sit amet.</p></div>
                        <div class="group-button">
                            <button class="btn btn-transition-2"><span>purchase theme</span></button>
                            <button class="btn btn-green"><span>start learn now</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-padding edu-feature">
        <div class="container">
            <div class="edu-feature-wrapper">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="group-title-index edu-feature-text"><h2 class="center-title">interface friendly learning at edugate</h2>

                                    <p class="top-title">Aliquam pulvinar pellentesque purus, nec condimentum nibh. Aenean dapibus iaculis odio id vestibulum. Nam at justo ante. Aenean hendrerit gravida ligula, id lacinia sapien tristique eget. In elit ipsum, vestibulum eu pulvinar sed.</p></div>
                            </div>
                            <div class="col-md-8">
                                <ul id="accordion" role="tablist" class="panel-group list-unstyled edu-feature-list">
                                    <li class="panel">
                                        <div role="tab" id="item-1" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#lesson" data-toggle="collapse" data-parent="#accordion" role="button" aria-expanded="true" aria-controls="lesson"><span>90% lessons</span> are video</a></div>
                                        <div id="lesson" role="tabpanel" aria-labelledby="item-1" class="collapse">
                                            <div class="panel-body col-item-2">Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre.</div>
                                        </div>
                                    </li>
                                    <li class="panel">
                                        <div role="tab" id="item-2" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#display" data-toggle="collapse" data-parent="#accordion" role="button" aria-expanded="true" aria-controls="lesson"><span>Displaying</span> clear curriculum</a></div>
                                        <div id="display" role="tabpanel" aria-labelledby="item-2" class="collapse">
                                            <div class="panel-body col-item-2">Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre.</div>
                                        </div>
                                    </li>
                                    <li class="panel">
                                        <div role="tab" id="item-3" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#discuss" data-toggle="collapse" data-parent="#accordion" role="button" aria-expanded="true" aria-controls="lesson"><span>Discussion</span> with other students</a></div>
                                        <div id="discuss" role="tabpanel" aria-labelledby="item-3" class="collapse">
                                            <div class="panel-body col-item-2">Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre.</div>
                                        </div>
                                    </li>
                                    <li class="panel">
                                        <div role="tab" id="item-4" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#capability1" data-toggle="collapse" data-parent="#accordion" role="button" aria-expanded="true" aria-controls="lesson"><span>Compatible</span> with Ubermenu</a></div>
                                        <div id="capability1" role="tabpanel" aria-labelledby="item-4" class="collapse">
                                            <div class="panel-body col-item-2">Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre.</div>
                                        </div>
                                    </li>
                                    <li class="panel">
                                        <div role="tab" id="item-5" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#capability2" data-toggle="collapse" data-parent="#accordion" role="button" aria-expanded="true" aria-controls="lesson"><span>Compatible</span> with Many Popular Plugins</a></div>
                                        <div id="capability2" role="tabpanel" aria-labelledby="item-5" class="collapse">
                                            <div class="panel-body col-item-2">Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre.</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"><img src="{{asset('bundles/mooc/images/student-girl.png')}}" alt="" class="computer-image"/></div>
                </div>
            </div>
        </div>
    </div>

    <!-- BEST STAFF-->
    {% render controller("MoocBundle:Default:bestStaff") %}
{% endblock %}