{% extends '::base.html.twig' %}

{% block body %}


    <!-- SLIDER BANNER-->
    {{ include('MoocBundle:Default:slider.html.twig') }}

    <!-- With Edugate You Can-->
    {{ include('MoocBundle:Default:withedugateyoucan.html.twig') }}

    <!-- PROGRESS BARS-->
    {% render controller("MoocBundle:Default:progressBar") %}
    {#{ include('MoocBundle:Default:progressbar.html.twig') }#}
    <!-- WHY CHOOSE US-->
    {#{ include('MoocBundle:Default:whychooseus.html.twig') }#}
    <!-- CHOOSE COURSES-->
    {#{ include('MoocBundle:Default:choosecourses.html.twig') }#}



    <!-- TOP COURSES-->
    {% render controller("MoocBundle:Default:displayCourses") %}




    <!-- PRICING-->
    {#{ include('MoocBundle:Default:pricing.html.twig') }#}

    <!-- SLIDER TALK ABOUT US-->
    {{ include('MoocBundle:Default:sliderTalkAboutUs.html.twig') }}

    <!--LATEST NEW-->
    {#{ include('MoocBundle:Default:latestNews.html.twig') }#}

    <!-- BEST STAFF-->
    {% render controller("MoocBundle:Default:bestStaff") %}


    <!-- PICTURE AND GALLERY-->
    {#{ include('MoocBundle:Default:pictureAndGallery.html.twig') }#}

    <!-- SLIDER LOGO-->
    {{ include('MoocBundle:Default:sliderLogo.html.twig') }}



    <!-- BUTTON BACK TO TOP-->
    <div id="back-top"><a href="#top"><i class="fa fa-angle-double-up"></i></a></div>

{% endblock %}

