{# empty Twig template #}

{% block latestNews %}
    <div class="section section-padding latest-news">
        <div class="container">
            <div class="group-title-index"><h4 class="top-title">latest news</h4>

                <h2 class="center-title">all about edugate updates</h2>

                <div class="bottom-title"><i class="bottom-icon icon-a-01-01"></i></div>
            </div>
            <div class="latest-news-wrapper">
                <div class="edugate-layout-1">
                    <div class="edugate-image"><img src="{{asset('bundles/mooc/images/news/news-1.jpg')}}" alt="" class="img-responsive"/></div>
                    <div class="edugate-content"><a href="news-detail.html" class="title">Effective researching method</a>

                        <div class="info">
                            <div class="author item"><a href="#">By Admin</a></div>
                            <div class="date-time item"><a href="#">17 sep 2015</a></div>
                        </div>
                        <div class="info-more">
                            <div class="view item"><i class="fa fa-user"></i>

                                <p> 56</p></div>
                            <div class="comment item"><i class="fa fa-comment"></i>

                                <p> 239</p></div>
                        </div>
                        <div class="description">Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully Dalmatian hello amazing the...</div>
                        <button onclick="window.location.href = 'news-detail.html'" class="btn btn-green"><span>learn now</span></button>
                    </div>
                </div>
                <div class="edugate-layout-1">
                    <div class="edugate-image"><img src="{{asset('bundles/mooc/images/news/news-2.jpg')}}" alt="" class="img-responsive"/></div>
                    <div class="edugate-content"><a href="news-detail.html" class="title">Effective researching method</a>

                        <div class="info">
                            <div class="author item"><a href="#">By Admin</a></div>
                            <div class="date-time item"><a href="#">17 sep 2015</a></div>
                        </div>
                        <div class="info-more">
                            <div class="view item"><i class="fa fa-user"></i>

                                <p> 56</p></div>
                            <div class="comment item"><i class="fa fa-comment"></i>

                                <p> 239</p></div>
                        </div>
                        <div class="description">Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully Dalmatian hello amazing the...</div>
                        <button onclick="window.location.href = 'news-detail.html'" class="btn btn-green"><span>learn now</span></button>
                    </div>
                </div>
                <div class="edugate-layout-1">
                    <div class="edugate-image"><img src="{{asset('bundles/mooc/images/news/news-3.jpg')}}" alt="" class="img-responsive"/></div>
                    <div class="edugate-content"><a href="news-detail.html" class="title">Effective researching method</a>

                        <div class="info">
                            <div class="author item"><a href="#">By Admin</a></div>
                            <div class="date-time item"><a href="#">17 sep 2015</a></div>
                        </div>
                        <div class="info-more">
                            <div class="view item"><i class="fa fa-user"></i>

                                <p> 56</p></div>
                            <div class="comment item"><i class="fa fa-comment"></i>

                                <p> 239</p></div>
                        </div>
                        <div class="description">Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully Dalmatian hello amazing the...</div>
                        <button onclick="window.location.href = 'news-detail.html'" class="btn btn-green"><span>learn now</span></button>
                    </div>
                </div>
                <button class="btn btn-green btn-latest-new"><span>Browser All Post<i class="fa fa-long-arrow-right"></i></span></button>
            </div>
        </div>
    </div>
{% endblock %}