{# empty Twig template #}

{% block pictureAndGallery %}
    <div class="section section-padding picture-gallery">
        <div class="group-title-index"><h4 class="top-title">see and feel it</h4>

            <h2 class="center-title">Pictures and gallery</h2>

            <div class="bottom-title"><i class="bottom-icon icon-a-1-01"></i></div>
        </div>
        <div class="picture-gallery-wrapper"><!-- Nav tabs-->
            <ul role="tablist" class="nav nav-tabs edugate-tabs">
                <li role="presentation" class="active"><a href="#campus" data-toggle="tab" class="text">Campus</a></li>
                <li role="presentation"><a href="#education" data-toggle="tab" class="text">Education</a></li>
                <li role="presentation"><a href="#building" data-toggle="tab" class="text">Building</a></li>
                <li role="presentation"><a href="#teachers" data-toggle="tab" class="text">Teachers</a></li>
                <li role="presentation"><a href="#students" data-toggle="tab" class="text">Students</a></li>
            </ul>
            <!-- Tab panes-->
            <div class="tab-content gallery-content">
                <div id="campus" role="tabpanel" class="tab-pane fade in active">
                    <div class="grid">
                        <div class="grid-item grid-item-height3"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-1.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-1.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height2"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-2.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-2.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height3"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-3.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-3.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height1"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-4.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-4.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height2"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-6.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-6.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height1"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-5.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-5.jpg')}}" alt="" class="img-responsive"/></a></div>
                    </div>
                </div>
                <div id="education" role="tabpanel" class="tab-pane fade">
                    <div class="grid">
                        <div class="grid-item grid-item-height3"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-3.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-3.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height2"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-6.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-2.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height3"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-1.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-1.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height1"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-4.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-4.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height2"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-2.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-2.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height1"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-5.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-5.jpg')}}" alt="" class="img-responsive"/></a></div>
                    </div>
                </div>
                <div id="building" role="tabpanel" class="tab-pane fade">
                    <div class="grid">
                        <div class="grid-item grid-item-height3"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-1.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-1.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height2"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-6.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-6.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height3"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-3.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-3.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height1"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-5.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-5.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height2"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-2.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-2.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height1"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-4.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-4.jpg')}}" alt="" class="img-responsive"/></a></div>
                    </div>
                </div>
                <div id="teachers" role="tabpanel" class="tab-pane fade">
                    <div class="grid">
                        <div class="grid-item grid-item-height3"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-3.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-3.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height2"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-2.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-2.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height3"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-1.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-1.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height1"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-5.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-5.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height2"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-6.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-6.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height1"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-4.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-4.jpg')}}" alt="" class="img-responsive"/></a></div>
                    </div>
                </div>
                <div id="students" role="tabpanel" class="tab-pane fade">
                    <div class="grid">
                        <div class="grid-item grid-item-height3"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-1.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-1.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height2"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-2.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-2.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height3"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-3.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-3.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height1"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-5.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-5.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height2"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-6.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-6.jpg')}}" alt="" class="img-responsive"/></a></div>
                        <div class="grid-item grid-item-height1"><a href="{{asset('bundles/mooc/images/lib-pictures/pictures-4.jpg')}}" class="content fancybox-button"><img src="{{asset('bundles/mooc/images/lib-pictures/pictures-4.jpg')}}" alt="" class="img-responsive"/></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}