{# empty Twig template #}

{% block princing %}
    <div class="section section-padding pricing">
        <div class="container">
            <div class="group-title-index"><h4 class="top-title">chooses your pricing</h4>

                <h2 class="center-title">the best pricing we offered</h2>

                <div class="bottom-title"><i class="bottom-icon icon-a-1-01-01"></i></div>
            </div>
            <div class="row">
                <div class="pricing-wrapper">
                    <div class="col-sm-4">
                        <div class="pricing-widget">
                            <div class="pricing-header">
                                <div class="price-cost">
                                    <div class="inner"><p data-from="0" data-to="0" data-speed="1000" class="inner-number">0</p></div>
                                </div>
                            </div>
                            <div class="pricing-content"><h3 class="pricing-title">trial</h3>

                                <p class="pricing-subtitle">30 days free trial</p>
                                <ul class="pricing-list">
                                    <li><p><strong>One day</strong> trial</p></li>
                                    <li><p><strong>Limited</strong> courses</p></li>
                                    <li><p><strong>Free</strong> 3 lessons</p></li>
                                    <li><p><strong>No</strong> supporter</p></li>
                                    <li><p><strong>No</strong> ebook</p></li>
                                    <li><p><strong>No</strong> tutorial</p></li>
                                    <li><p><strong>Limited</strong> registered user</p></li>
                                </ul>
                                <div class="pricing-button"><a href="#">choose plan</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="pricing-widget main active">
                            <div class="pricing-header">
                                <div class="price-cost">
                                    <div class="inner"><p data-from="0" data-to="35" data-speed="1000" class="inner-number">0</p></div>
                                </div>
                            </div>
                            <div class="pricing-content"><h3 class="pricing-title">Standard</h3>

                                <p class="pricing-subtitle">per month when paid annually</p>
                                <ul class="pricing-list">
                                    <li><p><strong>One year</strong> standard access</p></li>
                                    <li><p><strong>Limited</strong> courses</p></li>
                                    <li><p><strong>300+</strong> lessons</p></li>
                                    <li><p><strong>Random</strong> supporter</p></li>
                                    <li><p><strong>View only</strong> ebook</p></li>
                                    <li><p><strong>Standard</strong> tutorials</p></li>
                                    <li><p><strong>Unlimited</strong> registered user</p></li>
                                </ul>
                                <div class="pricing-button"><a href="#">choose plan</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="pricing-widget">
                            <div class="pricing-header">
                                <div class="price-cost">
                                    <div class="inner"><p data-from="0" data-to="89" data-speed="1000" class="inner-number">0</p></div>
                                </div>
                            </div>
                            <div class="pricing-content"><h3 class="pricing-title">Premiere</h3>

                                <p class="pricing-subtitle">per month when paid annually</p>
                                <ul class="pricing-list">
                                    <li><p><strong>Life time</strong> access</p></li>
                                    <li><p><strong>Unlimited</strong> All courses</p></li>
                                    <li><p><strong>3000+</strong> lessons & growing</p></li>
                                    <li><p><strong>Free</strong> supporter</p></li>
                                    <li><p><strong>Free</strong> Ebook Downloads</p></li>
                                    <li><p><strong>Premium</strong> tutorials</p></li>
                                    <li><p><strong>Unlimited</strong> registered user</p></li>
                                </ul>
                                <div class="pricing-button"><a href="#">choose plan</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group-btn-slider">
                <div class="btn-prev"><i class="fa fa-angle-left"></i></div>
                <div class="btn-next"><i class="fa fa-angle-right"></i></div>
            </div>
        </div>
    </div>
{% endblock %}