{# empty Twig template #}



{% block progressbar %}

    <div class="section progress-bars section-padding" >
        <div class="container">
            <div class="progress-bars-content">
                <div class="progress-bar-wrapper"><h2 class="title-2">Some important facts about us</h2>

                    <div class="row">
                        <div class="content">
                            <div class="col-sm-3">
                                <div class="progress-bar-number">
                                    <div data-from="0" data-to="{{countInstructors}}" data-speed="1000" class="num">0</div>
                                    <p class="name-inner">teachers</p></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="progress-bar-number">
                                    <div data-from="0" data-to="{{ countCourses }}" data-speed="1000" class="num">0</div>
                                    <p class="name-inner">courses</p></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="progress-bar-number">
                                    <div data-from="0" data-to="{{countStudents}}" data-speed="1000" class="num">0</div>
                                    <p class="name-inner">Students</p></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="progress-bar-number">
                                    <div data-from="0" data-to="{{countOrganisms}}" data-speed="1000" class="num">0</div>
                                    <p class="name-inner">Organims</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="group-button">
                        <button onclick="window.location.href = '{{ path('fos_user_registration_register') }}';" class="btn btn-transition-3"><span>Become Instructor</span></button>
                        <button onclick="window.location.href = '{{ path('fos_user_registration_register') }}';" class="btn btn-green-3"><span>start Learn now</span></button>
                    </div>
                    <div class="group-btn-slider">
                        <div class="btn-prev"><i class="fa fa-angle-left"></i></div>
                        <div class="btn-next"><i class="fa fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section why-choose-us" >
            <div class="why-choose-us-wrapper-top" style=" padding-bottom: 10px;" >
                <div class="container">
                    <div class="why-choose-us-wrapper"><h2 class="title-2">Why Edugate?</h2>

                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        <button onclick="window.location.href = '{{ path('how_it_works') }}';" class="btn btn-green-2"><span>How It Works ?</span></button>
                    </div>
                    <div data-wow-delay="0.2s" data-wow-duration="1.2s" class="background-girl-1 wow fadeInUp"><img src="{{asset('bundles/mooc/images/girl-1.png')}}" alt="" class="img-responsive"/></div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}