{# empty Twig template #}


{% block sliderTalkAboutUs %}
    <div class="section background-opacity slider-talk-about-us">
        <div class="container">
            <div id="people-talk" data-ride="carousel" data-interval="5000" class="slider-talk-about-us-wrapper carousel slide">
                <div role="listbox" class="slider-talk-about-us-content carousel-inner">
                    <div class="peopel-item item active"><p class="peopel-comment">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. "</p>

                        <div class="group-peole-info">
                            <div class="peopel-avatar"><img src="{{asset('bundles/mooc/images/people-avatar-1.jpg')}}" alt="" class="img-responsive"/></div>
                            <div class="peopel-name">john doe</div>
                            <div class="people-job">Microshop Crop.SEO</div>
                        </div>
                    </div>

                    <div class="peopel-item item"><p class="peopel-comment">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. "</p>

                        <div class="group-peole-info">
                            <div class="peopel-avatar"><img src="{{asset('bundles/mooc/images/people-avatar-1.jpg')}}" alt="" class="img-responsive"/></div>
                            <div class="peopel-name">john doe</div>
                            <div class="people-job">Microshop Crop.SEO</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-btn-slider"><a href="#people-talk" role="button" data-slide="prev">
                <div class="btn-prev carousel-control left"><i class="fa fa-angle-left"></i></div>
            </a><a href="#people-talk" role="button" data-slide="next">
                <div class="btn-next carousel-control right"><i class="fa fa-angle-right"></i></div>
            </a></div>
    </div>
{% endblock %}