{# empty Twig template #}

{% block sliderLogo %}

    <div class="section slider-logo">
        <div class="container">
            <div class="slider-logo-wrapper">
                <div class="slider-logo-content">
                    <div class="carousel-logos owl-carousel">
                        <div class="logo-iteam item"><a href="#"><img src="{{asset('bundles/mooc/images/logo/logo-carousel-1.png')}}" alt="" class="img-responsive"/></a></div>
                        <div class="logo-iteam item"><a href="#"><img src="{{asset('bundles/mooc/images/logo/logo-carousel-2.png')}}" alt="" class="img-responsive"/></a></div>
                        <div class="logo-iteam item"><a href="#"><img src="{{asset('bundles/mooc/images/logo/logo-carousel-3.png')}}" alt="" class="img-responsive"/></a></div>
                        <div class="logo-iteam item"><a href="#"><img src="{{asset('bundles/mooc/images/logo/logo-carousel-4.png')}}" alt="" class="img-responsive"/></a></div>
                        <div class="logo-iteam item"><a href="#"><img src="{{asset('bundles/mooc/images/logo/logo-carousel-5.png')}}" alt="" class="img-responsive"/></a></div>
                        <div class="logo-iteam item"><a href="#"><img src="{{asset('bundles/mooc/images/logo/logo-carousel-6.png')}}" alt="" class="img-responsive"/></a></div>
                        <div class="logo-iteam item"><a href="#"><img src="{{asset('bundles/mooc/images/logo/logo-carousel-1.png')}}" alt="" class="img-responsive"/></a></div>
                        <div class="logo-iteam item"><a href="#"><img src="{{asset('bundles/mooc/images/logo/logo-carousel-2.png')}}" alt="" class="img-responsive"/></a></div>
                        <div class="logo-iteam item"><a href="#"><img src="{{asset('bundles/mooc/images/logo/logo-carousel-3.png')}}" alt="" class="img-responsive"/></a></div>
                        <div class="logo-iteam item"><a href="#"><img src="{{asset('bundles/mooc/images/logo/logo-carousel-4.png')}}" alt="" class="img-responsive"/></a></div>
                        <div class="logo-iteam item"><a href="#"><img src="{{asset('bundles/mooc/images/logo/logo-carousel-5.png')}}" alt="" class="img-responsive"/></a></div>
                        <div class="logo-iteam item"><a href="#"><img src="{{asset('bundles/mooc/images/logo/logo-carousel-6.png')}}" alt="" class="img-responsive"/></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}