
{% block slider %}



    <div class="section slider-banner set-height-top">
        <div class="slider-item">
            <div class="slider-1">
                <div class="slider-caption">
                    <div class="container"><h5 class="text-info-2">You only have to know one thing</h5>

                        <h1 class="text-info-1">You can learn anything</h1>

                        <p class="text-info-3">For free. For everyone</p>
                        <button class="btn btn-green"><span>Start learning now !</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <div class="slider-2">
                <div class="slider-caption">
                    <div class="container"><h5 class="text-info-2">You only have to know one thing</h5>

                        <h1 class="text-info-1">You can learn anything</h1>

                        <p class="text-info-3">For free. For everyone</p>
                        <button class="btn btn-green"><span>Start learning now !</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <div class="slider-3">
                <div class="slider-caption">
                    <div class="container"><h5 class="text-info-2">You only have to know one thing</h5>

                        <h1 class="text-info-1">You can learn anything</h1>

                        <p class="text-info-3">For free. For everyone</p>
                        <button class="btn btn-green"><span>Start learning now !</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}