

{% block topcourses %}

    <div class="section section-padding top-courses">
        <div class="container">
            <div class="group-title-index"><h4 class="top-title">CHOOSE YOUR COURSE</h4>

                <h2 class="center-title">the top popular courses for you</h2>

                <div class="bottom-title"><i class="bottom-icon icon-icon-04"></i></div>
            </div>
            <div class="top-courses-wrapper">


                <div class="top-courses-slider">
                    {% for i , course in result %}
                        <div class="top-courses-item">
                            <div class="edugate-layout-2">
                                <div class="edugate-layout-2-wrapper">
                                    <div class="edugate-content"><a href="courses-detail.html" class="title">{{course.title|capitalize}}</a>

                                        <div class="info">
                                            <div class="author item"><a href="#">By {{ course.INSTRUCTOR.lastname }} </a></div>
                                            <div class="date-time item"><a href="#">{{ course.PUBLISHED|date('d M y') }}</a></div>
                                        </div>
                                        <div class="info-more" style='width : 120px;'>
                                            <div class="view item"><i class="fa fa-user"></i>

                                                <p> 56</p></div>
                                            <div class="comment item"><i class="fa fa-comment"></i>

                                                <p> 239</p></div>
                                        </div>
                                        {% set r=course.RATE %}

                                        <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-{{r*10}}"><strong class="rating">2.0</strong> out of 2</span></div>
                                        <div class="description">{{course.description}} </div>
                                        <button onclick="window.location.href = 'course/{{course.id}}';" class="btn btn-green"><span>learn now</span></button>
                                    </div>
                                    <div class="edugate-image"><img src="{{course.icon.path}}" alt="{{course.icon.name}}" class="img-responsive"/></div>
                                </div>
                            </div>
                        </div>
                        {# 
                        <div class="top-courses-item">
                            <div class="edugate-layout-2">
                                <div class="edugate-layout-2-wrapper">
                                    <div class="edugate-content"><a href="courses-detail.html" class="title">Photoghaphy Master</a>
    
                                        <div class="info">
                                            <div class="author item"><a href="#">By Admin</a></div>
                                            <div class="date-time item"><a href="#">17 sep 2015</a></div>
                                        </div>
                                        <div class="info-more">
                                            <div class="view item"><i class="fa fa-user"></i>
    
                                                <p> 56</p></div>
                                            <div class="comment item"><i class="fa fa-comment"></i>
    
                                                <p> 239</p></div>
                                        </div>
                                        <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-10"><strong class="rating">5.00</strong> out of 5</span></div>
                                        <div class="description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...</div>
                                        <button onclick="window.location.href = 'courses-detail.html'" class="btn btn-green"><span>learn now</span></button>
                                    </div>
                                    <div class="edugate-image"><img src="{{asset('bundles/mooc/images/courses/courses-2.jpg')}}" alt="" class="img-responsive"/></div>
                                </div>
                            </div>
                        </div>
                        #}
                    {% endfor %}
                </div>

                <div class="group-btn-top-courses-slider">
                    <div class="btn-prev">&lsaquo;</div>
                    <div class="btn-next">&rsaquo;</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}                                         