{# empty Twig template #}

{% block whychooseus %}
    <div class="section why-choose-us">
        <div class="why-choose-us-wrapper-top">
            <div class="container">
                <div class="why-choose-us-wrapper"><h2 class="title-2">Why Edugate?</h2>

                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    <button onclick="window.location.href = 'categories.html';" class="btn btn-green-2"><span>start Learn now</span></button>
                </div>
                <div data-wow-delay="0.2s" data-wow-duration="1.2s" class="background-girl-1 wow fadeInUp">
                    <img src="{{asset('bundles/mooc/images/student.png')}}" alt=" " class="img-responsive" style="margin-bottom: -25%; position: relative;" />
                </div>
            </div>
        </div>

    </div>

{% endblock %}

