{% block withEdugateYouCan %}
<div class="section section-padding edu-ab">
    <div class="container">
        <div class="edu-ab">
            <div class="group-title-index edu-ab-title"><h2 class="center-title">WITH <b>EDUGATE</b> YOU CAN</h2><h4 class="top-title">Lorem Ipsum is simply dummy text of te printing industry</h4></div>
            <div class="edu-ab-content">
                <ul class="list-unstyled list-inline">
                    <li>
                        <div class="circle-icon"><i class="fa fa-wifi fa-2x"></i></div>
                        <span>Learning online 100%</span></li>
                    <li>
                        <div class="circle-icon fa-2x"><i class="fa fa-search"></i></div>
                        <span>Learn everything you want</span></li>
                    <li>
                        <div class="circle-icon fa-2x"><i class="fa fa-thumbs-up"></i></div>
                        <span>Learn from top expert</span></li>
                    <li>
                        <div class="circle-icon fa-2x"><i class="fa fa-user"></i></div>
                        <span>Training internal HR</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}