{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Video</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ entity.rate }}</td>
            </tr>
            <tr>
                <th>Tag1</th>
                <td>{{ entity.tag1 }}</td>
            </tr>
            <tr>
                <th>Tag2</th>
                <td>{{ entity.tag2 }}</td>
            </tr>
            <tr>
                <th>Tag3</th>
                <td>{{ entity.tag3 }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('video') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('video_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
