{% extends '::base.html.twig' %}

{% block body %}
    <table border="1">
        <tr>
             
            <th>Email</th>

            <th>Supprimer</th>
        
        </tr>
        {%for e in entities %}
            <tr>

               
                <td>{{ e.email }}</td>

                <td><a href='{{path('supprimer_mail', {id:e.email})}}'>supprimer</a></td>


            </tr>
        {% endfor %}


    </table

{% endblock%}