{% block mailing %}

    <div class="mailing-widget widget">
        <div class="title-widget">MAILING</div>
        <div class="content-wiget"><p>Sign up for our mailing list to get latest updates and offers.</p>
            <form method="post" action="">
                <input type="text" placeholder="Email address" name="email" id="email"/> </br>

                <input type="submit" value="Ajouter" />
            </form>




        </div>
    </div>
{% endblock %}


