{% extends '::base.html.twig' %}

{% block body %}
    
    <br>
    
    <h3> now you're registred in our newsletter list! <br>
        you will receive emails with all our news! cheers</h3>
    <br>
    <br>
{% endblock %}