{% extends 'MoocBundle::layout.html.twig' %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ include('MoocBundle:Profile:show.html.twig') }}
    {% else %}   
        <div id="wrapper-content"><!-- PAGE WRAPPER-->
            <div id="page-wrapper"><!-- MAIN CONTENT-->
                <div class="main-content"><!-- CONTENT-->
                    <div class="content">
                        <div class="page-login rlp">
                            <div class="container">
                                <div class="login-wrapper rlp-wrapper">
                                    <div class="login-table rlp-table"><a href="index.html"><img src="assets/images/logo-color-1.png" alt="" class="login"/></a>
                                        <div class="panel-heading">
                                            <h2 class="panel-title">{{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}</h2>
                                        </div>

                                        <div class="panel-body">

                                            {% if error %}
                                                <div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
                                            {% endif %}

                                            <form action="{{ path("fos_user_security_check") }}" method="post" role="form"
                                                  class="form-horizontal">
                                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                                                <div class="login-title rlp-title">login to your edugate.com account!</div>
                                                <div class="login-form bg-w-form rlp-form">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label for="username" class="control-label form-label">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }} <span class="highlight">*</span></label>
                                                            <input id="username" 
                                                                   type="text" 
                                                                   name="_username" 
                                                                   placeholder="" 
                                                                   value="{{ last_username }}"
                                                                   required="required" class="form-control form-input"/>
                                                            <!--p.help-block Warning !-->
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label for="password" class="control-label form-label">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }} <span class="highlight">*</span></label>
                                                            <input id="password"  
                                                                   name="_password" 
                                                                   required="required" 
                                                                   type="password" 
                                                                   placeholder="" 
                                                                   class="form-control form-input"/>
                                                            <!-- p.help-block Warning !-->
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label for="remember_me">
                                                                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                                                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                                            </label>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <a href="{{ path('fos_user_resetting_request') }}">
                                                                <strong>Forgot your password ?</strong>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="login-submit">
                                                    <button type="submit"  
                                                            class="btn btn-login btn-green"
                                                            id="_submit" 
                                                            name="_submit"
                                                            value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">
                                                        <span>sign in</span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BUTTON BACK TO TOP-->
                <div id="back-top"><a href="#top"><i class="fa fa-angle-double-up"></i></a></div>
            </div>
        {% endif %}



    {% endblock %}
