{% extends '::base.html.twig' %}

{% block body -%}

  {{ form(form) }}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<script type="text/javascript">
  $(document).ready(function() {
  
    var $container = $('div#moocbundle_quizz_questions');
  

   
    var $addLink = $('<a href="#" id="add_question" class="btn btn-default">Add Question</a>');
    $container.append($addLink);

    
    $addLink.click(function(e) {
      addQuestion($container);
      addResponse(index-1);
      addResponse(index-1);
      addResponse(index-1);
      addResponse(index-1);
      
      e.preventDefault(); 
      return false;
    });

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;
    var indexR=0;

   
    if (index == 0) {
      addQuestion($container);
      addResponse(index-1);
      addResponse(index-1);
      addResponse(index-1);
      addResponse(index-1);
    } else {
    
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }


    function addQuestion($container) {
   
      var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Question n°' + (index+1))
          .replace(/__name__/g, index));

      
      addDeleteLink($prototype);

      
      $container.append($prototype);

  
      index++;
    }
    function addResponse(index1) {
        if(indexR==4){indexR=0;}
   
      var $prototype1 = $($('div#moocbundle_quizz_questions_'+index1+'_responses').attr('data-prototype').replace(/__nameR__label__/g, 'Response n°' + (indexR+1))
          .replace(/__nameR__/g, indexR));

  

    
      $container.append($prototype1);

     
      indexR++;
    }

  
    function addDeleteLink($prototype) {
     
      $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

     
      $prototype.append($deleteLink);

      
      $deleteLink.click(function(e) {
        $prototype.remove();
        e.preventDefault(); 
        return false;
      });
    }
  });
</script>


{% endblock %}