            

{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

<h3>Quiz</h3>

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    

    {# Idem pour un autre champ. #}
    <div class="form-group">
   
      
      <div class="col-sm-4">
        {{ form_widget(form.statement, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

{% for response in form.responses %}
    {{ form_row(response , {'attr': {'class': "filled-in"}}) }}
{% endfor %}
  {# Génération du label + error + widget pour un champ #}


  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.next, {'attr': {'class': 'btn btn-primary'}}) }}

  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>

<div id="countdown"></div>

<script src="{{ asset('bundles/mooc/libs/jquery/jquery-2.1.4.min.js') }}"></script>  
<script src="{{ asset('bundles/mooc/js/jquery.countdown360.js') }}"></script>  

<script type="text/javascript" charset="utf-8">

countdown = $("#countdown").countdown360({

	radius      : 60,

	seconds     : 10,

	fontColor   : '#FFFFFF',

	autostart   : false,

	onComplete  : function () {      
             var jsonObjects = [];
            $('#question_responses input:checked').each(function() {
                 jsonObjects.push($("label[for='"+$(this).attr("id")+"']").text());
            });
          
            var data = {recup: jsonObjects};
                $.ajax({
                type: 'POST',
                url: " {{  path('quiz_show',{'id' : id,'i': i+1 }) }} ",
                cache: false,
                data: data,
                success: function (res) {
                  
                    $('#form_body').html(res);

                }
            });
             
         return false ;   }

	});

	</script>


<script>
 $(document).ready(function(){
     countdown.start();
 
      $( ".next" ).on("click", function(e) {

       countdown.stop();

            var jsonObjects = [];
            $('#question_responses input:checked').each(function() {
                 jsonObjects.push($("label[for='"+$(this).attr("id")+"']").text());
            });
          
            var data = {recup: jsonObjects};

            $.ajax({
                type: 'POST',
                url: " {{  path('quiz_show',{'id' : id,'i': i+1 }) }} ",
                cache: false,
                data: data,
                success: function (res) {
                  
                    $('#form_body').html(res);

                }
            });
             
         return false ;   
        }
        );
   

}
        );


</script>


