{% extends '::base.html.twig' %}

{% block body -%}

    <form method="post" class="ajax"> 
        <div id="form_body">
              {% include 'MoocBundle:Quiz:form.html.twig' with {'form': form} %}
              </div>   

    </form>


{% endblock %}