
 
        <div class="container">
            <div class="group-title-index"><h2 class="center-title">Language courses</h2><h4 class="top-title">Having over <b>7 million students</b> worldwide and more than <b>30,000 online courses</b></h4><!--.bottom-title<i class="bottom-icon icon-a-1-01"></i>--></div>
            <div class="courses-wrapper"><!-- Nav tabs-->
                <div class="row top-content">
                    <div class="col-md-3">
                        <div class="result-output text-left"><p class="result-count">Showing <strong>1-6</strong> of total <strong>12</strong> courses</p></div>
                    </div>
                    <div class="col-md-6">
                        <ul role="tablist" class="nav nav-tabs edugate-tabs">
                            <li id="courses_tab" role="presentation" class="active"><a id="course_link" href="#course" data-toggle="tab" class="text">Courses</a></li>
                            <li id="instructor_tab" role="presentation"><a id="instrctor_link" href="#instructor" data-toggle="tab" class="text">instructors</a></li>
                            <li id="organism_tab" role="presentation"><a id="organism_link" href="#organism" data-toggle="tab" class="text">Organisms</a></li>
                           
                    </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="btn-list-grid list-unstyled text-right">
                            <li class="active">
                                <button class="btn-grid"><i class="fa fa-th-large"></i></button>
                            </li>
                            <li>
                                <button class="btn-list"><i class="fa fa-th-list"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Tab panes-->
                <div class="tab-content courses-content">
                    <div id="course" role="tabpanel" class="tab-pane fade in active">
                        <div class="style-show style-grid row">
                            {% for key,value in allCourses %}
                                <div class="col-style">
                                    <div class="edugate-layout-2">
                                        <div class="edugate-layout-2-wrapper">
                                            <div class="edugate-content"><a href="{{ path('course_details', {'id': value.id }) }}" class="title">{{value.getTitle()}}</a>

                                                <div class="info">
                                                    <div class="author item"><a href="#">By {{value.getInstructor().fullname}}</a></div>
                                                    <div class="date-time item"><a href="#">{{ value.PUBLISHED|date('d M y') }}</a></div>
                                                </div>
                                                <div class="info-more">
                                                    <div class="view item"><i class="fa fa-user"></i>

                                                        <p> 56</p></div>
                                                    <div class="comment item"><i class="fa fa-comment"></i>

                                                        <p> 239</p></div>
                                                </div>
                                                {% set r=value.getRate() %}
                                                <div title="Rated 5.00 out of 5" class="star-rating">
                                                    <span class="width-{{r*10}}">
                                                        <strong class="rating">2.0</strong> out of 2
                                                    </span>
                                                </div>
                                                <div class="description">{{value.description}} </div>
                                                <button onclick="window.location.href = '../course/{{value.id}}';" class="btn btn-green"><span>learn now</span></button>

                                            </div>
                                            <div class="edugate-image">
                                                <img src="{{value.icon.path}}" alt="{{value.icon.name}}" class="img-responsive"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}


                            <nav class="pagination col-md-12">
                                <ul class="pagination__list">
                                    <li><a rel="prev" href="#" class="pagination__previous btn-squae disable">&#8249;</a></li>
                                    <li><span class="pagination__page btn-squae active">1</span></li>
                                    <li><a href="#" class="pagination__page btn-squae">2</a></li>
                                    <li><a href="#" class="pagination__page btn-squae">...</a></li>
                                    <li><a href="#" class="pagination__page btn-squae">14</a></li>
                                    <li><a rel="next" href="#" class="pagination__next btn-squae">&#8250;</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div id="instructor" role="tabpanel" class="tab-pane fade">
                        <div class="style-show style-grid row">
                            {% for key,value in allInstructor %}
                                <div class="col-style">
                                    <div class="edugate-layout-2">
                                        <div class="edugate-layout-2-wrapper">
                                            <div class="edugate-content"><a href="{{ path('instructor_show', {'id': value.id }) }}" class="title">{{value.lastname()}}</a>

                                                <div class="info">
                                                    <div class="author item"><a href="#"> {{value.specialty}}</a></div>
                                                    
                                                </div>
                                                <div class="info-more">
                                                    <div class="view item"><i class="fa fa-user"></i>

                                                        <p> 56</p></div>
                                                    <div class="comment item"><i class="fa fa-comment"></i>

                                                        <p> 239</p></div>
                                                </div>
                                                
                                                <div class="description">{{value.description}} </div>
                                              

                                            </div>
                                            <div class="edugate-image">
                                                <img src="{{value.avatar}}" alt="" class="img-responsive"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                            <nav class="pagination col-md-12">
                                <ul class="pagination__list">
                                    <li><a rel="prev" href="#" class="pagination__previous btn-squae disable">&#8249;</a></li>
                                    <li><span class="pagination__page btn-squae active">1</span></li>
                                    <li><a href="#" class="pagination__page btn-squae">2</a></li>
                                    <li><a href="#" class="pagination__page btn-squae">...</a></li>
                                    <li><a href="#" class="pagination__page btn-squae">14</a></li>
                                    <li><a rel="next" href="#" class="pagination__next btn-squae">&#8250;</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div id="organism" role="tabpanel" class="tab-pane fade">
                        <div class="style-show style-grid row">
                             {% for key,value in allOrganism %}
                                <div class="col-style">
                                    <div class="edugate-layout-2">
                                        <div class="edugate-layout-2-wrapper">
                                            <div class="edugate-content"><a href="courses-detail.html" class="title">{{value.name()}}</a>

                                                <div class="info">
                                                   
                                                    
                                                </div>
                                                <div class="info-more">
                                                    <div class="view item"><i class="fa fa-user"></i>

                                                        <p> 56</p></div>
                                                    <div class="comment item"><i class="fa fa-comment"></i>

                                                        <p> 239</p></div>
                                                </div>
                                                
                                                <div class="description">{{value.description}} </div>
                                              

                                            </div>
                                            <div class="edugate-image">
                                                <img src="{{value.avatar}}" alt="" class="img-responsive"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                            <nav class="pagination col-md-12">
                                <ul class="pagination__list">
                                    <li><a rel="prev" href="#" class="pagination__previous btn-squae disable">&#8249;</a></li>
                                    <li><span class="pagination__page btn-squae active">1</span></li>
                                    <li><a href="#" class="pagination__page btn-squae">2</a></li>
                                    <li><a href="#" class="pagination__page btn-squae">...</a></li>
                                    <li><a href="#" class="pagination__page btn-squae">14</a></li>
                                    <li><a rel="next" href="#" class="pagination__next btn-squae">&#8250;</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                   
                    
                </div>
            </div>
        </div>


                                      