{% extends 'Default/index.html.twig' %}


{% block body %}

    <div  class="section background-opacity page-title set-height-top">
        <div class="container">
            <div class="page-title-wrapper"><!--.page-title-content--><h2 class="captions">all categories</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="#">Categories</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="search-input">
            <div class="container">
                <div class="search-input-wrapper">
                    <form><select id="search_select" class="form-select style-1 selectbox">
                            <option value="all">Organism</option>
                            <option value="languages">Course</option>
                            <option value="science">Instructor</option>
                        </select><select class="form-select style-2 selectbox">
                            <option value="price">price</option>
                            <option value="datetime">datetime</option>
                            <option value="teacher">teacher</option>
                        </select><input id="rech" type="text" placeholder="Do you want to learn today?" name = "recher" class="form-input"/>
                        <button type="b" class="form-submit btn btn-blue" id="btn_search"><span>search now<i class="fa fa-search"></i></span></button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="rech_section" class="section section-padding courses">
        {% include 'MoocBundle:Course:allCoursesShow.html.twig' with {'allCourses': allCourses,'allInstructor': allInstructor} %}
    </div>

    <script src="{{ asset('bundles/mooc/libs/jquery/jquery-2.1.4.min.js') }}"></script> 
    <script>


        $("#btn_search").on("click", function (e) {

            var recher = $("#rech").val();
            var data = {recup: recher};

            if ($("#search_select option:selected").text() == "Course")
            {
                $.ajax({
                    type: 'POST',
                    url: " {{  path('recher_courses_show') }} ",
                    cache: false,
                    data: data,
                    success: function (res) {

                        $('#rech_section').html(res);
                        $('#course_link').attr("aria-expanded", "true");
                        $('#course').attr("class", "active");
                        $('#courses_tab').attr("class", "active");
                        $('#instructor_tab').hide();
                        $('#organism_tab').hide();



                    }
                });
            }
            if ($("#search_select option:selected").text() == "Instructor")
            {
                $.ajax({
                    type: 'POST',
                    url: " {{  path('recher_ins_show') }} ",
                    cache: false,
                    data: data,
                    success: function (res) {

                        $('#rech_section').html(res);
                        $('#instructor_link').attr("aria-expanded", "true");
                        $('#instructor').attr("class", "active");
                        $('#instructor_tab').attr("class", "active");
                        $('#courses_tab').hide();
                        $('#organism_tab').hide();



                    }
                });
            }
            if ($("#search_select option:selected").text() == "Organism")
            {
                $.ajax({
                    type: 'POST',
                    url: " {{  path('recher_org_show') }} ",
                    cache: false,
                    data: data,
                    success: function (res) {

                        $('#rech_section').html(res);
                        $('#organism_link').attr('aria-expanded', 'true');
                        $('#organism').attr("class", "active");
                        $('#organism_tab').attr("class", "active");

                        $('#instructor_tab').hide();
                        $('#courses_tab').hide();



                    }
                });
            }
            return false;
        }
        );






    </script>


{% endblock %}                                         