{% extends 'Default/index.html.twig' %}

{% block body %}

    {# CHECK IF APP.USER IS SUBSCRIBED TO THIS COURSE OR NOT  SOME ELEMENTS DEPENDS ON#}
    {% set checksub = 'FALSE' %}


    {% for key,value in subs %}

        {% if value.student.id == app.user.id and value.course.id == course.id %} 
            {% set checksub = 'TRUE' %}

        {% endif %}
    {% endfor %}

    <div class="section background-opacity page-title set-height-top">
        <div class="container">
            <div class="page-title-wrapper"><!--.page-title-content--><h2 class="captions">course detail</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="categories.html">Categories</a></li>
                    <li><a href="courses.html">Courses</a></li>
                    <li class="active"><a href="#">Courses Details</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="search-input">
            <div class="container">
                <div class="search-input-wrapper">
                    <form><select class="form-select style-1 selectbox">
                            <option value="all">all categories</option>
                            <option value="languages">languages</option>
                            <option value="science">science</option>
                        </select><select class="form-select style-2 selectbox">
                            <option value="price">price</option>
                            <option value="datetime">datetime</option>
                            <option value="teacher">teacher</option>
                        </select><input type="text" placeholder="Do you want to learn today?" class="form-input"/>
                        <button type="submit" class="form-submit btn btn-blue"><span>search now<i class="fa fa-search"></i></span></button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-padding courses-detail">
        <div class="container">
            <div class="courses-detail-wrapper">
                <div class="row">
                    <div class="col-md-9 layout-left"><h1 class="course-title">{{ course.title }}  </h1>

                        <div class="course-info info">
                            <div class="author item"><a href="#"><span>By&nbsp;</span><span>{{ course.INSTRUCTOR.lastname }}</span></a></div>
                            <div class="date-time item"><a href="#">{{ course.PUBLISHED|date('d-M-y') }}</a></div>
                        </div>
                        <div class="course-video">
                            <iframe src="{{ course.video.url }}" allowfullscreen="allowfullscreen"></iframe>
                            <div class="video-btn">
                                <button class="btn btn-grey video-btn-right pull-right"><span>next lesson</span><i class="fa fa-angle-right"></i></button>
                                <button class="btn btn-grey video-btn-left pull-right"><i class="fa fa-angle-left"></i><span>previous lesson</span></button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="course-des">
                            <div class="course-des-title underline">Courses Info <img  src="http://localhost/WebApp/web/uploads/icon/{{course.icon.path}}" alt="{{course.icon.name}}" width="150" style=" left: 60%;    position: relative"> </div>

                            <div class="course-des-content"><p>{{ course.description }} </p>
                            </div>
                            <div class="news-list">
                                <div class="list-expand-title">Requirements</div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <ul class="list-unstyled list-detail">
                                            <li><i class="fa fa-angle-right"></i><a href="#">Phasellus sit amet velit auctor turpis rhoncus.</a></li>
                                            <li><i class="fa fa-angle-right"></i><a href="#">Phasellus sed dolor sodales, eleifend ipsum eu.</a></li>
                                            <li><i class="fa fa-angle-right"></i><a href="#">Nullam id dolor in ex eleifend tempus.</a></li>
                                            <li><i class="fa fa-angle-right"></i><a href="#">Etiam id lorem vel neque faucibus fermentum.</a></li>
                                            <li><i class="fa fa-angle-right"></i><a href="#">Nunc tincidunt augue in enim sollicitudin feugiat.</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <ul class="list-unstyled list-detail">
                                            <li><i class="fa fa-angle-right"></i><a href="#">Phasellus sit amet velit auctor turpis rhoncus.</a></li>
                                            <li><i class="fa fa-angle-right"></i><a href="#">Phasellus sed dolor sodales, eleifend ipsum eu.</a></li>
                                            <li><i class="fa fa-angle-right"></i><a href="#">Nullam id dolor in ex eleifend tempus.</a></li>
                                            <li><i class="fa fa-angle-right"></i><a href="#">Etiam id lorem vel neque faucibus fermentum.</a></li>
                                            <li><i class="fa fa-angle-right"></i><a href="#">Nunc tincidunt augue in enim sollicitudin feugiat.</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course-syllabus">
                            <div class="course-syllabus-title underline">Available Chapters</div>
                             <button class="btn btn-green" onclick="location.href = '{{path('chapter_create',{'id' : course.id  })}}';" ><span>Add Chapter</span></button>
                             
                            <div class="course-table">
                                <div class="outer-container">
                                    <div class="inner-container">
                                        <div class="table-header">
                                            <table class="edu-table-responsive">
                                                <thead>
                                                    <tr class="heading-table">
                                                        <th class="col-1">title</th>
                                                        <th class="col-2">estimate time</th>
                                                        <th class="col-3">spent time</th>
                                                        <th class="col-4">status</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="table-body">
                                            <table class="edu-table-responsive table-hover">
                                                <tbody>
                                                    <tr class="heading-content">
                                                        <td colspan="4" class="left heading-content">1. Introduction</td>
                                                    </tr>
                                                    {% for key,value in chapters %}
                                                    <tr class="table-row">
                                                        <td class="left col-1"><a href="#"><i class="bg-green mr25 fa fa-caret-right"></i><span>{{value.title}}</span></a></td>
                                                    
                                                    </tr>
                                                    {% endfor %}
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 sidebar layout-right">
                        <div class="row">
                            <div class="course-price-widget widget col-sm-6 col-md-12 col-xs-6 sd380">
                                <div class="title-widget"><p>Details</p></div>
                                <div class="content-widget">
                                    <div class="course-price-widget-wrapper">
                                        <div class="row">
                                            <div class="col-md-12 info-row col-sm-12 col-xs-12">
                                                <div class="pull-left title">Length:</div>
                                                <div class="pull-right length">4.2</div>
                                            </div>
                                            <div class="col-md-12 info-row col-sm-12 col-xs-12">
                                                <div class="pull-left title">Level:</div>
                                                <div class="pull-right level">{% if course.level == 3 %}Advanced {% elseif course.level==2%}Medium {% else %}Beginner{% endif %}</div>
                                            </div>
                                            <div class="col-md-12 info-row col-sm-12 col-xs-12">
                                                <div class="pull-left title">Subscribers:</div>
                                                <div class="pull-right firgue">{{ subs|length }}</div>
                                            </div>
                                            <div class="col-md-12 info-row col-sm-12 col-xs-12">
                                                <div class="pull-left title">Rate:</div>
                                                <div title="Rated 5.00 out of 5" class="pull-right star-rating"><span class="width-{{ course.rate*10 }}"><strong class="rating">5.00</strong> out of 5</span></div>
                                            </div>
                                        </div>
                                       

                                    </div>
                                </div>
                            </div>
                            <div class="author-widget widget col-sm-6 col-md-12 col-xs-6 sd380 " onclick="window.location.href = '{{path('instructor_show',{'id' : course.instructor.id })}}';">
                                <div class="title-widget">about {{ course.instructor.fullname }}</div>
                                <div class="content-widget">
                                    <div class="staff-item author-widget-wrapper customize">
                                        <div class="staff-item-wrapper">
                                            <div class="staff-info"><a href="#" class="staff-avatar"><img src="{{ course.instructor.avatar }}" alt="" class="img-responsive"/></a>
                                                <a href="" class="staff-name">{{ course.instructor.fullname }}</a>

                                                <div class="staff-job">{{ course.instructor.activity }}</div>
                                                <div class="staff-desctiption">{{ course.instructor.description }} {{course.instructor.id }}</div>
                                            </div>
                                        </div>
                                        <div class="staff-socials"><a href="htt://www.facebook.com/{{ course.instructor.facebookUid }}" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                           
                            
                            <div class="clearfix"></div>
                            <div class="tag-widget widget col-sm-6 col-md-12 col-xs-6 sd380">
                                <div class="title-widget">tags</div>
                                <div class="content-widget">
                                    <ul class="tag-widget list-unstyled">
                                        <li><a href="#" class="tag-item">Software</a></li>
                                        <li><a href="#" class="tag-item">Music</a></li>
                                        <li><a href="#" class="tag-item">Photography</a></li>
                                        <li><a href="#" class="tag-item">Communication</a></li>
                                        <li><a href="#" class="tag-item">Tutorial</a></li>
                                        <li><a href="#" class="tag-item">Biology</a></li>
                                        <li><a href="#" class="tag-item">Photoshop</a></li>
                                        <li><a href="#" class="tag-item">Economics</a></li>
                                        <li><a href="#" class="tag-item">Statistics</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}