{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Course edit</h1>

    <form action="{{ path('course_create', {'id' : entity.id }) }}" method="POST" {{ form_enctype(form) }}>
        {{ form(edit_form) }}
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('course') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
