{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Course list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Level</th>
                <th>Duration</th>
                <th>Description</th>
                <th>Book</th>
                <th>Available</th>
                <th>Published</th>
                <th>Rate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('course_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.level }}</td>
                <td>{% if entity.duration %}{{ entity.duration|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.book }}</td>
                <td>{{ entity.available }}</td>
                <td>{% if entity.published %}{{ entity.published|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.rate }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('course_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('course_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('course_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
