{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Course creation</h1>


    <form action="{{ path('course_create') }}" method="POST" {{ form_enctype(form) }}>
        {{ form(form) }}
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('course') }}">
                Back to the list
            </a>
        </li>
    </ul>


{% endblock %}
