{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Course</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ entity.level }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ entity.duration|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Book</th>
                <td>{{ entity.book }}</td>
            </tr>
            <tr>
                <th>Available</th>
                <td>{{ entity.available }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ entity.published|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ entity.rate }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('course') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('course_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
