{% extends 'Default/index.html.twig' %}

{% block body %}


    <div class="section background-opacity page-title set-height-top">
        <div class="container">
            <div class="page-title-wrapper"><!--.page-title-content--><h2 class="captions">course detail</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="categories.html">Categories</a></li>
                    <li><a href="courses.html">Courses</a></li>
                    <li class="active"><a href="#">Courses Details</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="search-input">
            <div class="container">
                <div class="search-input-wrapper">
                    <form><select class="form-select style-1 selectbox">
                            <option value="all">all categories</option>
                            <option value="languages">languages</option>
                            <option value="science">science</option>
                        </select><select class="form-select style-2 selectbox">
                            <option value="price">price</option>
                            <option value="datetime">datetime</option>
                            <option value="teacher">teacher</option>
                        </select><input type="text" placeholder="Do you want to learn today?" class="form-input"/>
                        <button type="submit" class="form-submit btn btn-blue"><span>search now<i class="fa fa-search"></i></span></button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-padding courses-detail">
        <div class="container">
            <div class="courses-detail-wrapper">
                <div class="row">
                    <div class="col-md-9 layout-left"><h1 class="course-title">{{ chapter.title }}  </h1>

                        <div class="course-info info">
                            <div class="author item"><a href="#"><span>By&nbsp;</span><span>{{ chapter.course.INSTRUCTOR.lastname }}</span></a></div>
                            <div class="date-time item"><a href="#">{{ chapter.course.PUBLISHED|date('d-M-y') }}</a></div>
                        </div>
                        <div class="course-video">
                            <iframe src="{{ chapter.video }}" allowfullscreen="allowfullscreen"></iframe>
                            <div class="video-btn">
                                <button class="btn btn-grey video-btn-right pull-right"><span>next chapter</span><i class="fa fa-angle-right"></i></button>
                                <button class="btn btn-grey video-btn-left pull-right"><i class="fa fa-angle-left"></i><span>previous chapter</span></button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="course-des">
                            <div class="course-des-title underline">Chapter Info <img  src="http://localhost/WebApp/web/uploads/icon/{{chapter.course.icon.path}}" alt="{{chapter.course.icon.name}}" width="150" style=" left: 60%;    position: relative"> </div>

                            <div class="course-des-content">
                                <p>{{ chapter.presentation }} </p>
                                <p>{{ chapter.description }} </p>
                                <p>  {{ chapter.content }}</p>
                            </div>
                          
                     
                        
                            <div class="course-table">
                                <div class="outer-container">
                                    <div class="inner-container">
                                        <div class="table-header">
                                           
                                            
                                            <table class="edu-table-responsive">
                                                <thead>
                                                    <tr class="heading-table">
                                                        
                                                        
                                                        <th class="col-1">title</th>
                                                        <th class="col-2">type </th>
                                                        <th class="col-3">duration</th>
                                                        <th class="col-4">level</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        
                                            
                                            
                                        </div>
                                        <div class="table-body">
                                            <table class="edu-table-responsive table-hover">
                                                <tbody>
                                                    
                                                    {% for value in quizz %}
                                                    <tr class="table-row">
                                                        <td class="left col-1"><a href="#"><i class="bg-green mr25 fa fa-caret-right"></i><span>{{value.title}}</span></a></td>
                                                        <td class="left col-2"><a href="#"><span>{{value.type}}</span></a></td>
                                                        <td class="left col-3"><a href="#"><span>{{value.duration}}</span></a></td>
                                                        <td class="left col-4"><a href="#"><span>{{value.level}}</span></a></td>
                                                    </tr>
                                                    {% endfor %}
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            
                            
                    <div class="col-md-3 sidebar layout-right">
                        <div class="row">
                            <div class="course-price-widget widget col-sm-6 col-md-12 col-xs-6 sd380">
                                <div class="title-widget"><p>Details</p></div>
                                <div class="content-widget">
                                    <div class="course-price-widget-wrapper">
                                        <div class="row">
                                            <div class="col-md-12 info-row col-sm-12 col-xs-12">
                                                <div class="pull-left title">Length:</div>
                                                <div class="pull-right length">4.2</div>
                                            </div>
                                            <div class="col-md-12 info-row col-sm-12 col-xs-12">
                                                <div class="pull-left title">Level:</div>
                                                <div class="pull-right level">{% if chapter.course.level == 3 %}Advanced {% elseif chapter.course.level==2%}Medium {% else %}Beginner{% endif %}</div>
                                            </div>
                                            <div class="col-md-12 info-row col-sm-12 col-xs-12">
                                                <div class="pull-left title">Subscribers:</div>
                                                <div class="pull-right firgue"> </div>
                                            </div>
                                            <div class="col-md-12 info-row col-sm-12 col-xs-12">
                                                <div class="pull-left title">Rate:</div>
                                                <div title="Rated 5.00 out of 5" class="pull-right star-rating"><span class="width-{{ chapter.course.rate*10 }}"><strong class="rating">5.00</strong> out of 5</span></div>
                                            </div>
                                        </div>
                                        

                                    </div>
                                </div>
                            </div>
                            <div class="author-widget widget col-sm-6 col-md-12 col-xs-6 sd380 " onclick="window.location.href = '{{path('instructor_show',{'id' : chapter.course.instructor.id })}}';">
                                <div class="title-widget">about {{ chapter.course.instructor.fullname }}</div>
                                <div class="content-widget">
                                    <div class="staff-item author-widget-wrapper customize">
                                        <div class="staff-item-wrapper">
                                            <div class="staff-info"><a href="#" class="staff-avatar"><img src="{{ chapter.course.instructor.avatar }}" alt="" class="img-responsive"/></a>
                                                <a href="" class="staff-name">{{ chapter.course.instructor.fullname }}</a>

                                                <div class="staff-job">{{ chapter.course.instructor.activity }}</div>
                                                <div class="staff-desctiption">{{ chapter.course.instructor.description }} {{chapter.course.instructor.id }}</div>
                                            </div>
                                        </div>
                                        <div class="staff-socials"><a href="htt://www.facebook.com/{{ chapter.course.instructor.facebookUid }}" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="popular-course-widget widget col-sm-6 col-md-12 col-xs-6 sd380">
                                <div class="title-widget">popular courses</div>
                                <div class="content-widget">
                                    <div class="media">
                                        <div class="media-left"><a href="courses-detail.html" class="link"><img src="assets/images/popular/popular-1.jpg" alt="" class="media-image"/></a></div>
                                        <div class="media-right">
                                            <div class="cur">35</div>
                                            <a href="courses-detail.html" class="link title">Adobe Lightroom CC for Photographers</a>

                                            <div class="info">
                                                <div class="author item"><a href="#"><span>By Sandara</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left"><a href="courses-detail.html" class="link"><img src="assets/images/popular/popular-2.jpg" alt="" class="media-image"/></a></div>
                                        <div class="media-right">
                                            <div class="cur">40</div>
                                            <a href="courses-detail.html" class="link title">Adobe Lightroom CC for Photographers</a>

                                            <div class="info">
                                                <div class="author item"><a href="#"><span>By Sandara</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left"><a href="courses-detail.html" class="link"><img src="assets/images/popular/popular-3.jpg" alt="" class="media-image"/></a></div>
                                        <div class="media-right">
                                            <div class="cur">34</div>
                                            <a href="courses-detail.html" class="link title">Adobe Lightroom CC for Photographers</a>

                                            <div class="info">
                                                <div class="author item"><a href="#"><span>By Sandara</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left"><a href="courses-detail.html" class="link"><img src="assets/images/popular/popular-4.jpg" alt="" class="media-image"/></a></div>
                                        <div class="media-right">
                                            <div class="cur">27</div>
                                            <a href="courses-detail.html" class="link title">Adobe Lightroom CC for Photographers</a>

                                            <div class="info">
                                                <div class="author item"><a href="#"><span>By Sandara</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="category-widget widget col-sm-6 col-md-12 col-xs-6 sd380">
                                <div class="title-widget">categories</div>
                                <div class="content-widget">
                                    <ul class="category-widget list-unstyled">
                                        <li><a href="categories.html" class="link cat-item"><span class="pull-left">Web Design</span><span class="pull-right">125</span></a></li>
                                        <li><a href="categories.html" class="link cat-item"><span class="pull-left">Wordpress Themes</span><span class="pull-right">97</span></a></li>
                                        <li><a href="categories.html" class="link cat-item"><span class="pull-left">Photography</span><span class="pull-right">56</span></a></li>
                                        <li><a href="categories.html" class="link cat-item"><span class="pull-left">Video</span><span class="pull-right">24</span></a></li>
                                        <li><a href="categories.html" class="link cat-item"><span class="pull-left">Miscellaneous</span><span class="pull-right">13</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="tag-widget widget col-sm-6 col-md-12 col-xs-6 sd380">
                                <div class="title-widget">tags</div>
                                <div class="content-widget">
                                    <ul class="tag-widget list-unstyled">
                                        <li><a href="#" class="tag-item">Software</a></li>
                                        <li><a href="#" class="tag-item">Music</a></li>
                                        <li><a href="#" class="tag-item">Photography</a></li>
                                        <li><a href="#" class="tag-item">Communication</a></li>
                                        <li><a href="#" class="tag-item">Tutorial</a></li>
                                        <li><a href="#" class="tag-item">Biology</a></li>
                                        <li><a href="#" class="tag-item">Photoshop</a></li>
                                        <li><a href="#" class="tag-item">Economics</a></li>
                                        <li><a href="#" class="tag-item">Statistics</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}